<%- layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<a href="campgrounds/new"><button>New Campground</button></a>
<ul>
    <% for(let camps of campground ) { %>
    <li>
        <a href="campgrounds/<%= camps._id %>"> <%= camps.title %> </a>
    </li>
    <% } %>
</ul>
